<div class="panel panel-default">
  <div class="panel-heading"><b>Find question</b></div>
  <div class="panel-body">
    <div class="input-group" style="width: 100%">
      <input type="text" class="form-control" id="search_question_input" data-target="<%= questions_search_packet_path(packet) %>">
      <span class="input-group-addon" style="width:5%">
        <i class="glyphicon glyphicon-search"></i>
      </span>
    </div>
    <br>
    <div id="question_list">
      <center>
        <i>search some questions to be added in current packet.</i>
      </center>
    </div>
  </div>
</div>