<div class="panel panel-default">
  <div class="panel-heading"><b>Selected Questions</b></div>
  <div class="panel-body">
    <div id="selected_questions">
      <% packet.questions.order(:content).each do |question| %>
        <%= render :partial => "packets/questions/selected_question", :locals => { question: question, packet: packet } %>
      <% end %>
    </div>
  </div>
</div>