<% if questions.length == 0 %>
  <center>
    <i>Search with query '<%= @query %>' has no result</i>
  </center>
<% end %>

<% questions.each do |question| %>
  <div id="question_<%= question.id %>">
    <%= question.content %>
    <br>
    <%= link_to raw("<i class='glyphicon glyphicon-download'></i> add to selected questions"), add_question_packet_path(packet, question), remote:true, :method => :post %>
    |
    <%= link_to raw("<i class='glyphicon glyphicon-ok'></i> preview"), question_path(question), :target => :blank %>
    <hr>
  </div>
<% end %>