<div id="selected_question_<%= question.id %>">
  <b><%= question.content %></b>
  <%= link_to raw("<i class='glyphicon glyphicon-trash'></i> remove"), destroy_question_packet_path(packet, question), :method => :delete, :remote => true, :confirm => "Are you sure?" %>
  |
  <%= link_to raw("<i class='glyphicon glyphicon-ok'></i> preview"), question_path(question), :target => :blank %>
  <hr>
</div>