$("#question_<%= @packet_question.question_id %>").remove()
$("#selected_questions").append("<%=j render :partial => 'packets/questions/selected_question', :locals => { question: @packet_question.question, packet: @packet } %>")