<h1>Manage Questions</h1>
<blockquote><%= @packet.name %></blockquote>
<hr>
<div id="add_question_diaolg">
  <%= render :partial => "packets/questions/add_question_diaolg", :locals => { packet: @packet } %>
</div>
<div class="table_responsive">
  <%= render :partial => "packets/questions/questions_table", :locals => { packet: @packet } %>
</div>