<%= form_for(question, :remote => true, :role => "form") do |f| %>
  <div class="form-group">
    <%= f.label(:content, :class=>"form-label") %>
    <%= f.text_area(:content, :class=>"form-control", :rows=>"7", :required => "true") %>
  </div>
  <div class="form-group">
    <%= f.submit("Save", :class=> "btn btn-info") %>
  </div>
<% end %>