<tr>
  <td><%= index + 1 %></td>
  <td><%= question.content %></td>
  <td><%= question.score_range || "?" %></td>
  <td>
    <%= link_to raw("<i class='glyphicon glyphicon-edit'></i> Edit"), edit_question_path(question) %>
    |
    <%= link_to raw("<i class='glyphicon glyphicon-trash'></i> Delete"), question_path(question), :remote => true, :confirm => "Are you sure?", :method => :delete %>
    |
    <%= link_to raw("<i class='glyphicon glyphicon-wrench'></i> Manage Choices"),  question_choices_path(question) %>
    |
    <%= link_to raw("<i class='glyphicon glyphicon-ok'></i> Preview"), question_path(question), :target => :blank %>
  </td>
</tr>