<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <thead>
        <td width="1%">#</td>
        <td>Content</td>
        <td>Score Range</td>
        <td>Options</td>
      </thead>
    </tr>
  </thead>
  <tbody>
    <% if questions.size == 0 %>
      <%= render :partial => "shared/empty" %>
    <% else %>
      <% questions.each_with_index do |question, index| %>
        <%= render :partial => "question", locals: { :question => question, :index => index + questions.offset } %>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="pagination">
  <%= will_paginate questions, :renderer => BootstrapLinkRenderer %>
</div>