<form class="form-inline" form="tag" action="<%= questions_path  %>">
  <div class="input-group">
    <input type="text" class="form-control" value="<%= params[:search] %>" name="search" style="width:100%">
    <span class="input-group-addon">
      <i class="glyphicon glyphicon-search"></i>
    </span>
  </div>
</form>
<br>  