<h1>Question List</h1>
<br>
<%= link_to raw("<i class='glyphicon glyphicon-plus'></i> Add new question"), new_question_path, :class => "btn btn-success" %>
<hr>
<%= render "search" %>
<div class="table-responsive">
  <%= render :partial => "questions_table", locals: { :questions => @questions } %>
</div>