<h1>Question Preview</h1>
<blockquote>
  <i><%= @question.content %></i>
</blockquote>
<hr>
<% if @question.choices.length == 0 %>
  <i>This question has no choice.</i>
<% else %>
  <h3>Choices :</h3>
<% end %>
<% @question.choices.each_with_index do |choice, index| %>
  <div style="font-size:18px">
    <%= (index + 65).chr %>. <%= choice.content %>
    <% if choice.scores.length == 0 %>
      <div style="font-size:12px">
        <i>This choice has no score.</i>
      </div>
    <% end %>
    <ul style="font-size:12px">
      <% choice.scores.each do |score| %>
        <li><%= score.intelligence.name + " : " + (score.value > 0 ? "+" : "") + score.value.to_s %></li>
      <% end %>
    </ul>
  </div>
<% end %>