<center>
  <h1>Intellical (Intelligence Calculator)</h1>
</center>
<hr>
<center>
<i>
"Intellical is an expert system application that calculate your intelligence.<br/>
Intellical use proven rules from some experts."
</i>
<br>
<br>
<% if not user_signed_in? %>
  <%= link_to "sign in", new_user_session_path, :class => 'btn btn-info btn-lg' %>
  <%= link_to "sign up", new_user_registration_path, :class => 'btn btn-default btn-lg' %>
<% end %>
</center>