<tr>
  <td><%= index + 1 %></td>
  <td><%= intelligence.name %></td>
  <td>
    <%= link_to raw("<i class='glyphicon glyphicon-edit'></i> Edit"), edit_intelligence_path(intelligence) %>
    |
    <%= link_to raw("<i class='glyphicon glyphicon-trash'></i> Delete"), intelligence_path(intelligence), :remote => true, :confirm => "Are you sure?", :method => :delete %>
  </td>
</tr>