<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <thead>
        <td width="1%">#</td>
        <td>Name</td>
        <td>Options</td>
      </thead>
    </tr>
  </thead>
  <tbody>
    <% if intelligences.size == 0 %>
      <%= render :partial => "shared/empty" %>
    <% else %>
      <% intelligences.each_with_index do |intelligence, index| %>
        <%= render :partial => "intelligence", locals: { :intelligence => intelligence, :index => index } %>
      <% end %>
    <% end %>
  </tbody>
</table>