<h1>Intelligences Registration</h1>
<br>
<%= link_to raw("<i class='glyphicon glyphicon-plus'></i> Add new intelligence"), new_intelligence_path, :class => "btn btn-success" %>
<hr>
<div class="table-responsive">
  <%= render :partial => "intelligences_table", locals: { :intelligences => @intelligences } %>
</div>