<h2><%= choice.content %></h2>

<div class="row">
  <div class="col-md-3">
    <%= render :partial => "select_intelligences", :locals => { intelligences: intelligences, choice: choice } %>
  </div>
  <div class="col-md-9">
    <%= render :partial => "selected_intelligences", :locals => { intelligences: intelligences, scores: scores } %>
  </div>
</div>