<div class="panel panel-default">
  <div class="panel-heading"><b>Select Intelligences</b></div>
  <div class="panel-body">
    <ul style="padding:5px; list-style:none" id="select_intelligences">
      <% intelligences.each do |intelligence| %>
        <%= render :partial => 'select_intelligence', :locals => { intelligence: intelligence, choice:choice } %>
      <% end %>
    </ul>
  </div>
</div>