<li id="intelligence_<%= intelligence.id %>">
  <b style="font-size:18px"><%= intelligence.name %></b>
  <br>
  <a href="" data-intelligence-id="<%= intelligence.id %>" data-choice-id="<%= choice.id %>" class='add-to-selected-intelligence'>add to selected intelligences -></a>
  <hr>
</li>