<div id="score_<%= score.id %>">
<b style="font-size:18px"><%= score.intelligence.name %></b>
&nbsp;
<input type="number" class="form-control score-input" style="width:100px; display:inline; text-align:right" value="<%= score.value %>" data-intelligence-id="<%= score.intelligence_id %>" data-choice-id="<%= score.choice_id %>" data-score-id="<%= score.id %>">
&nbsp;
<a href="" class="delete-score" data-choice-id="<%= score.choice_id %>" data-score-id="<%= score.id %>">[x]</a>
<hr>
</div>