<div class="panel panel-default">
  <div class="panel-heading"><b>Selected Intelligences</b></div>
  <div class="panel-body" id="selected_intelligences">
    <% scores.each do |score| %>
      <%= render :partial => 'selected_intelligence', :locals => { score: score, intelligence: score.intelligence, choice: score.choice } %>
    <% end %>
  </div>
</div>