<h1>Manage Choices</h1>
<hr>
<blockquote>
<i><%= @question.content %></i>
</blockquote>
<div id="choices"></div>

<form action="<%= question_choices_path(@question) %>" method="post" class="form-inline" id="create_choice_form" style="display:none;">
  <input type="text" class="form-control" name="choice[content]" style="width:20%">
  <input type="submit" value="add choice" class="btn btn-info" style="width:100px">
</form>

<form class="form-inline" method="put" id="update_choice_form" style="display:none;">
  <input type="text" class="form-control" name="choice[content]" style="width:20%">
  <input type="submit" value="save" class="btn btn-info" style="width:100px">
  <input type="button" value="cancel" class="btn btn-danger" style="width:100px" id="btn_cancel_edit_choice">
</form>

<hr>
<div id="scores_editor"><i>Click edit scores to view the of spesific choice scores</i></div>

<script type="text/javascript">
  choices = <%=raw @choices.to_json %>
  questionChoicePath = '<%= question_choice_path(@question, '') %>'
  choiceScorePath = '<%= choice_score_path('', '') %>'
  choiceScoresPath = '<%= choice_scores_path('') %>'
</script>
