<select id="select_roles">
  <% roles.each do |role| %>
    <option value="<%= role.id %>"><%= role.name %></option>
  <% end %>
</select>
<%= link_to "add role", "", :id => "create_role", :class => "btn btn-xs btn-info" %>
<script type="text/javascript">
  $("#create_role").click(function(){
    $.ajax({
      url: "<%= create_role_user_path(user) %>",
      data: {
        role_id : $("#select_roles").val()
      },
      cache: false,
      method: "post"
    });
    return false;
  });
</script>