<% roles = [] %>
<% user.roles.each do |role| %>
  <% roles << "<div id='selected_user_role_#{user.id}_#{role.id}'>" + (role.name + link_to("[x]", destroy_role_user_path(user, role.id), :method => :delete, :remote => true)) + "</div>" %>
<% end %>
<%=raw roles.join("") %>