<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <thead>
        <td width="1%">#</td>
        <td>Email</td>
        <td>Roles</td>
        <td>Options</td>
      </thead>
    </tr>
  </thead>
  <tbody>
    <% if users.size == 0 %>
      <%= render :partial => "shared/empty" %>
    <% else %>
      <% users.each_with_index do |user, index| %>
        <%= render :partial => "user", locals: { :user => user, :index => index + users.offset } %>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="pagination">
  <%= will_paginate users, :renderer => BootstrapLinkRenderer %>
</div>