<tr>
  <td><%= index + 1 %></td>
  <td><%= user.email %></td>
  <td id="user_roles_<%= user.id %>">
    <%= render :partial => "user_roles", :locals => { user: user} %>
  </td>
  <td>
    <%= link_to raw("<i class='glyphicon glyphicon-trash'></i> Delete"), user_path(user), :remote => true, :confirm => "Are you sure?", :method => :delete %>
    |
    <span id="add_role_container_<%= user.id %>">
      <%= link_to  raw("<i class='glyphicon glyphicon-plus'></i> Add role"), add_role_user_path(user), :remote => true %>
    </span>
  </td>
</tr>