<% if @roles.length == 0 %>
  alert("No more roles to be added.");
<% else %>
  $("#add_role_container_<%= @user.id %>").html("<%=j render :partial => 'add_role', :locals => { user: @user, roles: @roles } %>")
<% end %>
