<% content = link_to raw("<i class='glyphicon glyphicon-plus'></i> Add role"), add_role_user_path(@user), :remote => true %>
$("#add_role_container_<%= @user.id %>").html("<%=j content %>");
$("#user_roles_<%= @user.id %>").html("<%=j render :partial => 'user_roles', :locals => { user: @user} %>");