<ul class="nav navbar-nav">
  <li>
    <% if can?(:read, Run) or can?(:manage, Packet) %>
      <%= link_to "Runs", runs_path %>
    <% end %>
  </li>

  <!-- Registrations -->
  <% if can?(:manage, Intelligence) and can?(:manage, User) %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registrations <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Intelligences", intelligences_path %>
        </li>
        <li>
          <%= link_to "Users", users_path %>
        </li>
      </ul>
    </li>
  <% end %>

  <!-- Questions -->
  <% if can?(:manage, Packet) or can?(:manage, Question) %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Questions Management <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% if can?(:manage, Packet) %>
          <li> 
            <%= link_to "Question packets", packets_path %> 
          </li>
        <% end %>
        <% if can?(:manage, Question) %>
          <li>
            <%= link_to "Question list", questions_path %> 
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>

</ul>