<div id="question_<%= question.id %>">
	<span class="question_label" <%= 'style=font-weight:bold' if not Answer.answered?(run.id, question.id, current_user.id) %>>
			<%= index+1 %>. <%= question.content %>
	</span>

	<% question.choices.each do |choice| %>
		<div class="radio" id="question_<%= question.id %>">
		  <label>
		    <input type="radio" name="question_choices_<%= question.id %>" id="question_choice_<%= question.id %>_<%= choice.id %>" value="<%= choice.id %>" class='choice-input' data-question-id="<%= question.id %>" data-choice-id="<%= choice.id %>" data-url="<%= update_answer_run_answers_path(run, question) %>" <%= 'checked' if Answer.answered?(run.id, question.id, current_user.id, choice.id) %> >
		   	<%= choice.content %>
		  </label>
		</div>
	<% end %>
</div>
<hr>