<h1><%= @run.packet.name %></h1>
<%= link_to raw("<i class='glyphicon glyphicon-chevron-right'></i> Answers Statistic"), statistic_run_answers_path(@run), :class => "btn btn-info", :target => :blank %>
<hr>
<% @run.packet.questions.each_with_index do |question, index| %>
	<%= render :partial=>"question", :locals => { question: question, index: index, run: @run } %>
<% end %>