<h1><%= @run.packet.name %></h1>
<%= @answers.length %> of <%= @run.packet.questions.length %> questions answered.
<hr>

<div id="chart">
	<svg style='height:500px;width:400px'> </svg>
</div>

<script type="text/javascript">
function exampleData() {
	return <%= raw(@chart_source.to_json) %>
}
nv.addGraph(function() {
  var chart = nv.models.pieChart()
      .x(function(d) { return d.label })
      .y(function(d) { return d.value })
      .showLabels(true)     //Display pie labels
      .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
      .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
      .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
      .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
      ;

    d3.select("#chart svg")
        .datum(exampleData())
        .transition().duration(350)
        .call(chart);

  return chart;
});
</script>