<%= form_for(packet, :remote => true, :role => "form") do |f| %>
  <div class="form-group">
    <%= f.label(:name, :class=>"form-label") %>
    <%= f.text_field(:name, :class=>"form-control", :required => "true") %>
  </div>
  <div class="form-group">
    <%= f.label(:description, :class=>"form-label") %>
    <%= f.text_area(:description, :class=>"form-control", :rows=>"7", :required => "true") %>
  </div>
  <div class="form-group">
    <%= f.submit("Save", :class=> "btn btn-info") %>
  </div>
<% end %>