<tr>
  <td><%= index + 1 %></td>
  <td><%= packet.name %></td>
  <td><%= packet.description %></td>
  <td>
    <%= link_to raw("<i class='glyphicon glyphicon-edit'></i> Edit"), edit_packet_path(packet) %>
    |
    <%= link_to raw("<i class='glyphicon glyphicon-trash'></i> Delete"), packet_path(packet), :remote => true, :confirm => "Are you sure?", :method => :delete %>
    |
    <%= link_to raw("<i class='glyphicon glyphicon-question-sign'></i> Manage Questions"), questions_packet_path(packet) %>
  </td>
</tr>