<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <thead>
        <td width="1%">#</td>
        <td>Name</td>
        <td>Description</td>
        <td>Options</td>
      </thead>
    </tr>
  </thead>
  <tbody>
    <% if packets.size == 0 %>
      <%= render :partial => "shared/empty" %>
    <% else %>
      <% packets.each_with_index do |packet, index| %>
        <%= render :partial => "packet", locals: { :packet => packet, :index => index } %>
      <% end %>
    <% end %>
  </tbody>
</table>