<% if packets.length == 0 %>
  <center>
    <i>Search with query '<%= query %>' has no result<i>
  </center>
<% end %>

<% packets.each do |packet| %>
  <b><%= packet.name %></b><br>
  <%= link_to "select this packet >>", input_date_runs_path(packet), :remote => true %>
  <hr>
<% end %>