<h1>Question Packet List</h1>
<br>
<%= link_to raw("<i class='glyphicon glyphicon-plus'></i> Add new question packet"), new_packet_path, :class => "btn btn-success" %>
<hr>
<div class="table-responsive">
  <%= render :partial => "packets_table", locals: { :packets => @packets } %>
</div>