<%= form_for(run, :remote=>true) do |f| %>
  <%= f.hidden_field :packet_id %>
  <div class="form-group">
    <%= f.label "Start Date" %>
    <div class='input-group date datetime-picker' data-date-format="YYYY-MM-DD hh:mm:ss">
      <%= f.text_field :start_datetime, :class => "form-control", :required => true %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Finish Date" %>
    <div class='input-group date datetime-picker' data-date-format="YYYY-MM-DD hh:mm:ss">
      <%= f.text_field :finish_datetime, :class => "form-control", :required => true %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit "create run", :class => "btn btn-info" %>
  </div>
<% end %>

<script type="text/javascript">
  $(".datetime-picker").datetimepicker()
</script>