<div class="panel panel-default">
  <div class="panel-heading"><b>Input Run Dates</b></div>
  <div class="panel-body" id="input_run_dates_container">
    <%= render :partial => "form", :locals => { run: run } %>
  </div>
</div>