<div id='run_<%= run.id %>' <%= "class=active-run" if run.is_running? %>>

  <div class='run-caption' ><%= index+1 %>. <%= run.packet.name %></div>
  start at : <%= run.start_datetime.strftime("%B %e, %Y %H:%M:%S") %> <br>
  finish at : <%= run.finish_datetime.strftime("%B %e, %Y %H:%M:%S") %> <br>

  <% if can? :delete, Run %>
    <%= link_to raw("<i class='glyphicon glyphicon-trash'></i> delete"), run_path(run), :remote => true, :method => :delete, :confirm => "Are you sure?" %>
  <% end %>

  <% if can?(:update, Run) and can?(:delete, Run) %>
  |
  <% end %>

  <% if can? :update, Run %>
    <span class='run_status_control'>
      <% if run.is_running? %>
        <%= render :partial => 'stop_run_control', :locals=> { run: run } %>
      <% else %>
        <%= render :partial => 'start_run_control', :locals=> { run: run } %>
      <% end %>
    </span>
  <% end %>

  <% if current_user.audience? %>
    <%= link_to raw("<i class='glyphicon glyphicon-play'></i> choose this run"), run_answers_path(run) %>
  <% end %>
  <hr>
</div>