<%= link_to raw("<i class='glyphicon glyphicon-stop'></i> cancel run"), stop_run_path(run), :remote => true, :method => :put, :class => 'cancel-run-control', :confirm => "Are you sure to stop current run?", :disable_with => "terminating current run..." %>     