<h1>Run List</h1>
<% if can?(:create, Run) or can?(:manage, Packet) %>
  <%= link_to raw("<i class='glyphicon glyphicon-plus'></i> Create new run"), new_run_path, :class => "btn btn-info" %>
<% end %>
<hr>

<% if @runs.length == 0 %>
  <i>No runs added. </i><%= link_to "add run now", new_run_path if can? :manage, :runs %>
<% end %>

<% @runs.each_with_index do |run, index| %>
  <%= render :partial => "run", :locals => { run: run, index: index } %>
<% end %>