<h1>Create new run</h1>
<hr>
<div id="new_run_container">
  <div class="panel panel-default">
    <div class="panel-heading"><b>Select Questions Packet</b></div>
    <div class="panel-body" id="">
      <div class="input-group" style="width: 100%">
        <input type="text" class="form-control" id="search_packets" data-target="<%= search_packets_path %>">
        <span class="input-group-addon" style="width:5%">
          <i class="glyphicon glyphicon-search"></i>
        </span>
      </div>
      <br>
      <div id="packet_list">
        <center>
          <i>select questions packet by searching some packets to create new run.</i>
        </center>
      </div>
    </div>
  </div>
</div>