/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require nv.d3
 *= require_tree .
 */
 
@import "custom";
@import "bootstrap";
@import "bootstrap-datetimepicker";

#flash {
  position : fixed;
  top : 50px;
  width : 100%;
  z-index : 1000;
}

body {
  font-size : 12px;
}

a.disabled {
  color : #ccc;
  &:hover {
    color : #ccc;
    text-decoration : none;
  }
}

.run-caption {
  font-size: 14px;
  font-weight: bold;
}

.active-run {
  .run-caption {
    color: green;
  }
}

.cancel-run-control {
  color : red;
}

.cancel-run-control:hover,
.cancel-run-control:focus {
  color : red;
}

.start-run-control {
  color : green;
}

.start-run-control:hover,
.start-run-control:focus {
  color: green;
}