$body-bg : #f9f9f9;
$border-radius-base: 0px;
$panel-bg: #fff;
$breadcrumb-bg: none;
.breadcrumb {
  padding : 4px;
  text-align : right;
  font-size : 10px;
  li {
    a {
      text-decoration : underline; 
    }
  }
}

// Pengaturan jenis font
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.svg#IcoMoon') format('svg'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Navbar
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-brand-hover-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-bg: #563d7c;
$navbar-default-toggle-hover-bg:#443163;