<!DOCTYPE html>
<html>
<head>
  <title>Intellical (Intelligence Calculator)</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/navbar" %>
  <%= render "shared/flash" %>
  <div class="container" style="padding-top:80px">
    <%= yield %>
  </div>
</body>
</html>
